<div class="container">
	<div class="row">
		<div class="span12">
			<h1><%=h @company.company_name %>, <%=h @company.first_name %> <%=h @company.last_name %>, Administrator</h1>
			<a href="/profile/new">New Profile</a>
		</div>
	</div>
</div>