<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=h @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/medicode.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script src='/js/mailcheck.js' type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Syncopate|Orbitron:400' rel='stylesheet' type='text/css'>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <script type="text/javascript">
	$(document).ready(function () {
		$('#loginEmail').val("Email").click(function () {$('#loginEmail').val("")});
		$('#loginPassword').val("Password").click(function () {$('#loginPassword').val("")});
		var domains = ['hotmail.com', 'hotmail.co.uk', 'me.com', 'mac.com', 'gmail.com', 'aol.com', 'googlemail.com', 'yahoo.com', 'yahoo.co.uk', 'btinternet.com', 'sbcglobal.net'];
		$('#email').on('blur', function() {
			$(this).mailcheck({
				suggested: function(element, suggestion) {
					$(element).parent().prepend("<div class='alert alert-info'><a class='close' data-dismiss='alert'>×</a>Do you really mean: " + suggestion.full + "?</div>");
			  	},
				empty: function(element) {
			    // callback code
				}
			});
		});
		$('#signUp').click( function() {
			var password1 = $('#password1').val();
			var password2 = $('#password2').val();
			if( password1 == password2) {
				$.ajax({
				  type: 'POST',
				  url: '/signup',
				  data: {	companyName: $('#companyName').val(), 
							firstName: $('#firstName').val(),
							lastName: $('#lastName').val(),
							email: $('#email').val(),
							password: password1
						},
				  complete: function() {window.location='/admin';}
				});
			} else {
				alert("password fields do not match");
			}
		});

		$('#logIn').click( function() {
			$.ajax({
				type: 'POST',
				url: '/login',
				data: {	loginEmail: $('#loginEmail').val(), loginPassword: $('#loginPassword').val() },
				complete: function() { window.location='/admin'; } 
			});
		});
	});
  </script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12 header">
				<div class="row">
					<div class="span3">
						<img class="lgLogo" src="/img/logo.png" width="140" alt="medicode logo"/>
					</div>
					<div class="span3"> 
						<input class="input outline" id="loginEmail" type="text"/>
					</div>
					<div class="span3">
						<input class="input outline" id="loginPassword" type="text"/>
					</div>
					<div class="span2 login">
						<button href="#" id="logIn" class="btn btn-inverse outline">Log-in</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<img class="txtOnly" src="/img/text_only.png" width="200" alt="medicode" />
			</div>		
		</div>
		<div class="row">
			<div class="span5 offset6">
				<br>
				<br>
				<h1>Sign Up Today</h1>
				<h4 class="subtitle">Life Saving Information When Seconds Count</h4>
				<hr>
			</div>
		</div>
		<div class="row signup">
			<div class="span2 offset6">Company
			</div>
			<div class="span3"><input id="companyName" class="input" type="text" />
			</div>
		</div>
		<div class="row signup">
			<div class="span2 offset6">First Name
			</div>
			<div class="span3"><input id="firstName" class="input" type="text" />
			</div>
		</div>
		<div class="row signup">
			<div class="span2 offset6">Last Name
			</div>
			<div class="span3"><input id="lastName" class="input" type="text" />
			</div>
		</div>
		<div class="row signup">
			<div class="span2 offset6">Email
			</div>
			<div class="span3"><input id="email" class="input" name="email" id="email" type="text" />
			</div>
		</div>
		<div class="row signup">
			<div class="span2 offset6">Password
			</div>
			<div class="span3"><input id="password1" class="input" type="password" />
			</div>
		</div>
		<div class="row signup">
			<div class="span2 offset6">Re-enter Password
			</div>
			<div class="span3"><input id="password2" class="input" type="password" />
			<br>
			<br>
				<div class="bt-group">
					<button data-toggle="modal" href="#learnMore" class="btn btn-info btn-large outline">Learn More</button> 
					<button data-toggle="modal" href="#myModal" class="btn btn-primary btn-large outline">Sign-Up</button>
				</div>
 
			</div>
		</div>
		<div class="row">
			<div class="span5 offset6">
				<hr>
			</div>
			<br>
			<br>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="span12 footer">&nbsp;
			</div>
		</div>
	</div>
	<div class="modal" id="myModal" style="display:none;">
  		<div class="modal-header">
    		<a class="close" data-dismiss="modal">×</a>
    		<h3>Terms and Conditions</h3>
  		</div>
  		<div class="modal-body">
    		<p>Medicode is in pre-launch stage, although our service is not yet available, it is possible to explore the site to get a feel for it and watch how it evolves. You agree to allow us to contact you (to let you know when we're ready for real signups, and you agree not to hold us liable for anything. We'll keep your email to ourselves and your password encrypted. This site uses cookies.</p>
  		</div>
  		<div class="modal-footer">
    		<a href="#" data-dismiss="modal" class="btn">Deny</a>
    		<a href="#" id="signUp" class="btn btn-primary">Accept</a>
  		</div>
	</div>
		<div class="modal" id="learnMore" style="display:none;">
  		<div class="modal-header">
    		<a class="close" data-dismiss="modal">×</a>
    		<h3>About Medicode</h3>
  		</div>
  		<div class="modal-body">
    		<p>Accidents are sometimes unavoidable. But in emergencies the difference between life & death COULD depend on having medical information immediately available. Medicode is a personal online medical profile, that can be accessed, edited and shared between different emergency services. Medicode has the capability to assist in saving lives through clearer, better-documented and more immediate communication, enhanced through intuitive usability and consistency on important information.</p>
    		<p>The technologies proposed are simple.  For example one version proposes using QR coding (other methods could also be explored). The QR code will hold the URL to your personal medical profile. In a typical real life scenario, the paramedic staff could scan the QR code using a smart phone or tablet and immediately link to a patients medical and personal details, uploaded and updated from a central database The paramedic can add information, images, times, locations and other important data, providing a current patient status.  A GPS system would aloud live tracking and would enhance in finding the closet Medical Center, another enhanced feature I would be looking into is the provision of an audio recording function to capture a situation at the time of the event. They may add information to the profile such as a photo of injuries on casualty or written documentation however they can only add and not edit existing verified data.  They could then forward this information to the allocated hospital administration staff saving time and educating the medical team with vital information on the casualty in advance of the patient’s arrival.</p>
  		</div>
  		<div class="modal-footer">
    		<a href="#" data-dismiss="modal" class="btn">Continue</a>
  		</div>
	</div>
</body>
</html>

