<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=h @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/medicode.css" rel="stylesheet">

    <script src="/js/jQuery-min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script src='/js/mailcheck.js' type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Syncopate|Orbitron:400' rel='stylesheet' type='text/css'>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <div class="container header">
    <div class="row">
      <div class="span10">

          <h1 class="headerTitle"><%=h @title %></h1>
      </div>
        <div class="span2 logo">
          <div class="small">
            <img src="/img/logo_text.png" width="130" alt="medicode" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
  <div class="container footer">
    <div class="row">
      <div class="span12 footer">
      </div>
    </div>
  </div>
</body>
</html>