<style type="text/css">
.mug {height:200px;}
</style>
<br>
<div class="container">
	<div class="row">
		<div class="span7">
			<div class="row">
				<div class="span2">
					<div class="grey outline mug">UPLOAD IMAGE</div>
				</div>
				<div class="span5">
					<table>
						<tr>
							<td>First Name</td>
							<td><input id="firstName" name="firstName" type="text" /></td>
						</tr>
						<tr>
							<td>Last Name</td>
							<td><input id="lastName" name="lastName" type="text" />
							</td>
						</tr>
						<tr>
							<td>D.O.B</td>
							<td><input id="dob" name="dob" type="text" />
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class=></div>
		</div>
		<div class="span5">
			<div class="grey outline">
				<h2><center>Emergency Services Only</center></h2>
			</div>
		</div>
	</div>
</div>
<br>