<!DOCTYPE html>

<html>
<head>
	<title>spalsh</title>
	<link rel="stylesheet" type="text/css" href="simpler.css" />
		<link rel="stylesheet" type="text/css" href="awesome.css" />

	<style type="text/css">
		body{
			background-color:grey;
		}
		.header {
			background-color:#cfcfd7;
						margin-top:-40px;
			border-bottom: 3px solid grey;
		}
		.header input{
			margin-top:80px;
			margin-left:80px;
			width:200px;
			border: 1px solid blue;
		}
		.login {margin-top:80px;}
		.body {background-color:white;}
		h3 {font-family: Arial, "MS Trebuchet", sans-serif;:arial;}
	</style>
	 
</head>
<body>
	<div class="header container clearfix">
			<div class="grid2 first">
				<img src="logo.png" alt="medicode logo"/>
			</div>
			<div class="grid8"> 
				<input class="input" type="text"/> <input class="input" type="text"/>
			</div>
			<div class="grid2">
				<a href="" class="login awesome medium blue">login</a>
			</div>
	</div>
	<div class="container clearfix body">
		<div class="grid5 first">
			<br>
		</div>
		<div class="grid5">
			<h1>Sign Up Today</h1>
			<h3>Life Saving Information When Seconds Count</h3>
		</div>
		<div class="grid1">
		</div>
	</div>
</body>
</html>
